.form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.input {
  height: 10vh;
  color: whitesmoke;
  font-family: 'Rubik', sans-serif;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 8px;
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  //   rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(43, 43, 43);
}

.button-border {
  margin-top: 5%;
  width: 20vw;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(138, 5, 246));
  padding: 3px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.submit-button {
  font-size: 1.5vw;
  font-size: 2vh;
  color: whitesmoke;
  background-color: rgb(43, 43, 43);
  font-family: 'Rubik', sans-serif;
  width: 20vw;
  height: 7vh;
  padding: 2%;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(.90);
  transition-duration: .5s;
}